        <result state="${state}" type="${type}" attribute-id="${attributeIdentificator}">
        #foreach($info in $infoList)
            <info name="${info.name}" value="${info.value}"/>
        #end
        </result>